// OBJECT: IMAGE GROUP

@import "../settings/variables";

.o-image-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; // Allows images to wrap on smaller screens
  gap: $spacing-sm; // Spacing between images
}
