/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

// 1. Settings (global variables)
@use "settings/variables" as v;

// 2. Tools (SCSS mixins and functions)
@use "tools/index" as t;

// 3. Generic (reset)
@use "generic/reset" as g;

// 4. Elements (typography and HTML elements)
@use "elements/typography" as e;

// 5. Objects (Layout structures)
@use "objects/index" as o;

// 6. Components (visual UI parts)
@use "components/index" as c;

// 7. Utilities (helper utility classes)
@use "utilities/index" as u;

/**
 * Do NOT include anything else in this file!
 */
